<!--<%= form_for(@team) do |f| %>
   <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Team Name" %><br />
    <%= f.text_field :name %>
  </div>  
  <div class="field">
    <%= f.label :netid %><br />
    <%= f.text_field :netid %>
  </div>
  <div class="field">
    <%= f.label "message 1" %><br />
    <%= text_field_tag "message1" %><br />
  </div>
  <div class="field">
    <%= f.label "message 2" %><br />
    <%= text_field_tag"message2" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Team", :class => 'btn' %>
  </div>
<% end %> -->

<h2>Team Formation is now closed</h2>
<p>If you're trying to make a new team......Stop that. Find a group that will take you in and love you like one of their own.</br>
  If you forgot your pin, use the "Forgot Pin" page.</p>