<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Score:</b>
  <%= @team.score %>
</p>

<p>
  <b>Pin:</b>
  <%= @team.pin %>
</p>

<p>
  <b>Your Encryption Level:</b>
  <%= @team.message.level %>
</p>
